<header>
  <nav class="bg-gray-900 w-full z-20 fixed top-0 h-16">
    <div class="flex flex-nowrap items-center justify-between mx-auto h-full px-4">
      <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse h-full" do %>
        <span class="text-2xl font-semibold text-white"><%= t('Title') %></span>
      <% end %>

      <div class="flex items-center justify-between w-full md:flex md:w-auto h-full" id="navbar-sticky">
        <ul class="flex flex-row items-center space-x-6 md:p-0 font-semibold ml-auto h-full">
          <li>
            <%= link_to posts_path, class: "nav-link icon-link text-white flex items-center space-x-2 h-full" do %>
              <img src="<%= asset_path('index.png') %>" class="w-6 h-6 sm:w-5 sm:h-5">
              <span class="hidden sm:inline"><%= t('header.index') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to login_path, class: "nav-link icon-link text-white flex items-center space-x-2 h-full" do %>
              <img src="<%= asset_path('login.png') %>" class="w-6 h-6 sm:w-5 sm:h-5">
              <span class="hidden sm:inline"><%= t('header.login') %></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>