<header>
  <nav class="bg-gray-900 w-full z-20 fixed top-0 h- sm:h-auto">
    <div class="flex flex-nowrap items-center justify-between mx-auto p-4">
      <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
        <span class="text-2xl font-semibold text-white"><%= t('Title') %></span>
      <% end %>

<div class="flex items-center justify-between w-full md:flex md:w-auto" id="navbar-sticky">
  <ul class="flex flex-row items-center space-x-6 p-4 md:p-0 mt-4 font-semibold md:mt-0 ml-auto">
    <li>
    <%= link_to posts_path, class: "nav-link icon-link text-white flex items-center space-x-2" do %>
      <img src="<%= asset_path('index.png') %>" class="w-5 h-5">
      <!-- PC用テキスト -->
      <span class="hidden sm:inline"><%= t('header.index') %></span>
    <% end %>
    </li>
    <li>
      <%= link_to login_path, class: "nav-link icon-link text-white flex items-center space-x-2" do %>
      <img src="<%= asset_path('login.png') %>" class="w-5 h-5">
      <!-- PC用テキスト -->
      <span class="hidden sm:inline"><%= t('header.login') %></span>
      <% end %>
    </li>
  </ul>
</div>
    </div>
  </nav>
</header>
<div class="flash fixed top-16 left-1/2 transform -translate-x-1/2 z-30 text-nowrap">
  <%= render 'layouts/flash_messages' %>
</div>
<%= javascript_include_tag "flash" %>