  <%= form_with model: @post do |f| %>
        <div class="mb-3">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :photo %>
          <%= f.file_field :photo, class: "form-control", accept: 'image/*' %>
          <%= f.hidden_field :photo_cache %>
        </div>
        <%= f.submit nil, class: "btn btn-primary" %>
      <% end %>