<div class="pb-24">
  <%= form_with model: @post, local: true, data: { turbo: false } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-4">
      <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_area :title, class: "border rounded-md px-3 py-2 w-full h-32" %>
    </div>

    <div class="mb-4">
      <%= f.label :photo, class: "block text-sm font-medium text-gray-700" %>
      <%= f.file_field :photo, class: "border rounded-md px-3 py-2 w-full", accept: 'image/*' %>
      <%= f.hidden_field :photo_cache %>
    </div>

    <%= render 'spotify_search' %>

    <%= f.hidden_field :song_id %>
    <%= f.hidden_field :song_name %>
    <%= f.hidden_field :artist_name %>
    <%= f.hidden_field :album_name %>

    <div class="mt-6 mb-20">
      <%= f.submit @post.new_record? ? '投稿' : '更新', class: 'button' %>
    </div>
  <% end %>
</div>