<div class="flex items-center justify-center p-4">
  <div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-[1000px]">
    <div class="flex flex-col space-y-4">
      <div class="flex flex-col md:flex-row md:space-x-8 space-y-4 md:space-y-0"> <!-- レスポンシブ対応 -->
        <!-- 左側コンテンツ -->
        <div class="w-full md:w-[420px] flex flex-col space-y-4">
          <div class="h-[400px] w-full md:w-[420px] rounded-lg overflow-hidden">
            <%= image_tag @post.photo_url, class: "w-full h-full object-contain" %>
          </div>
          <% if @post.song_id.present? %>
            <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="80" class="w-full rounded-lg" src="https://open.spotify.com/embed/track/<%= @post.song_id %>"></iframe>
          <% end %>
        </div>

        <!-- 右側コンテンツ -->
        <div class="flex-1 flex flex-col justify-between relative">
          <div>
            <!-- いいねボタン -->
            <div class="absolute top-0 right-0" id="like-button-content-<%= @post.id %>">
              <% if current_user && current_user.like?(@post) %>
                <%= render 'unlike', { post: @post } %>
              <% elsif current_user %>
                <%= render 'like', { post: @post } %>
              <% end %>
            </div>

            <!-- タイトル -->
            <div class="pr-12 max-h-[300px] overflow-y-auto">
              <h3 class="text-base font-bold"><%= simple_format(@post.title) %></h3>
            </div>
          </div>

          <!-- 下部情報 -->
          <div class="space-y-4">
            <!-- タグ -->
            <% if @post.tag_list.any? %>
              <div class="flex flex-wrap gap-2">
                <% @post.tag_list.each do |tag| %>
                  <%= link_to tag, posts_path(tag: tag), class: "bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded-full" %>
                <% end %>
              </div>
            <% end %>

            <!-- ユーザー情報と編集・削除ボタン -->
            <div class="flex justify-between items-center">
              <div class="flex items-center space-x-2">
              <%= image_tag(@post.user.icon_url.to_s, class: 'rounded-full w-8 h-8 mr-1 ') if @post.user.icon_url.present? %>
              <p class="font-medium text-gray-400"><%= @post.user.name %></p>
              <%= render 'time', post: @post %>
              </div>

              <% if current_user && current_user.own?(@post) %>
                <div class="flex space-x-2">
                  <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}", class: "text-gray-400 hover:text-blue-500 text-[130%] w-8 h-8 flex items-center justify-center" do %>
                    <i class="fa-solid fa-hammer"></i>
                  <% end %>
                  <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('message.confirm') }, class: "text-gray-400 hover:text-red-700 text-[130%] w-8 h-8 flex items-center justify-center" do %>
                    <i class="fa-solid fa-skull"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>