<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h3 style="display: inline;"><%= @post.title %></h3>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag @post.photo_url, width: "420", height: "280", class: "card-img-top img-fluid" %>
            </div>
            <div class="col-md-9">
              <ul class="list-inline">
                <li class="list-inline-item"><%= "by #{@post.user.name}" %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
              </ul>
              <% if @post.song_id.present? %>
              <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="80" style="width:100%; max-width:300px; overflow:hidden; background:transparent;" src="https://open.spotify.com/embed/track/<%= @post.song_id %>" ></iframe>
              <% end %>
              <% if current_user && current_user.own?(@post) %>
                  <div class='d-flex justify-content-end'>
              <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}"  , class: "main" do %>
                  <button class="button"><%= t('posts.edit')%></button>
              <% end %>
              <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.flash_message.delete_confirm') } do %>
                <button class="button"><%= t('posts.delete')%></button>
              <% end %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
