<div class="container mx-auto pt-5">
  <div class="mb-3">
    <div class="max-w-4xl mx-auto">
      <article class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="p-4 flex">
          <div class="w-1/2 pr-4">
            <%= image_tag @post.photo_url, width: "420", height: "280", class: "w-full h-auto object-cover rounded-md mb-4" %>
            <% if @post.song_id.present? %>
            <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="80" class="w-full" src="https://open.spotify.com/embed/track/<%= @post.song_id %>"></iframe>
            <% end %>
          </div>

          <div class="w-1/2 flex flex-col justify-between relative">
            <h3 class="text-xl font-bold mb-6 "><%= simple_format(@post.title) %></h3>
            <div class="flex flex-col space-y-4">
              <ul class="text-gray-600">
                <li><%= "by #{@post.user.name}" %></li>
                <li><%= l @post.created_at, format: :long %></li>
              </ul>

                <div class="absolute top-2 right-2" id="like-button-content-<%= @post.id %>">
                <% if current_user && current_user.like?(@post) %>
                <%= render 'unlike', { post: @post } %>
                <% elsif current_user %>
                <%= render 'like', { post: @post } %>
                <% end %>
                </div>

              <% if current_user && current_user.own?(@post) %>
              <div class="flex justify-end mt-4">
                <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
                  <button class="button bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md transition duration-300 ease-in-out">
                    <%= t('posts.edit') %>
                  </button>
                <% end %>
                <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.flash_message.confirm') } do %>
                  <button class="button bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-md transition duration-300 ease-in-out">
                    <%= t('posts.delete') %>
                  </button>
                <% end %>
              </div>
              <% end %>
            <% if @post.tag_list.any? %>
              <div class="mt-4">
              <h4 class="text-sm font-semibold mb-2"></h4>
              <div class="flex flex-wrap gap-2">
            <% @post.tag_list.each do |tag| %>
            <%= link_to tag, posts_path(tag: tag), class: "bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded-full" %>
            <% end %>
              </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>