<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag('favicon') %>
    <title><%= content_for(:title) || "Verses" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <!--<link rel="icon" href="/icon.png" type="image/png">-->
    <!--<link rel="icon" href="/icon.svg" type="image/svg+xml">-->
    <!--<link rel="apple-touch-icon" href="/icon.png">-->

    <!-- Turbo関連のタグを先に配置 -->
    <%= javascript_include_tag "turbo", type: "module" %>

    <%# その他のアセット %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'back', media: 'all' %>
    <%= stylesheet_link_tag 'spotify_search', 'data-turbo-track': 'reload'%>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
  </head>

  <body class="flex flex-col min-h-screen bg-[#babfd1]">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <main class="flex-grow flex flex-col w-full p-0 m-0">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <%= javascript_tag do %>
  <% end %>
  </body>
</html>
